@using WebContent.Manage.HelperClasses;
@using WebContent.UI.Models.Home;
@model HomeViewModel

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <h2>Home</h2>
            <h3>Why this website?</h3>
            <p>
                This website chronicles my deep dive into current web programming tools and practices.
            </p>
            <p>
                The most recent blog posts are listed to the right on this home page.
            </p>
            <p>
                In the <a href="/Node/BlogMostRecent">Blog section</a> you will find all posts, beginning with the entry created on December 26, 2017.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <h2>Book</h2>
            <br />
            <p>Placeholder for book content.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row text-left">
            <h2>Recent Blog Posts</h2>
            <br />
            @if (Model.RecentLinks != null)
            {
                foreach (ContentLinkInfo linkInfo in Model.RecentLinks)
                {
                    <div class="row">
                        <a href="/Node/Display/@linkInfo.Url">@linkInfo.Text</a>
                        <p>@linkInfo.Summary</p>
                    </div>
                }
            }
        </div>
    </div>
</div>
